@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
/* HEADER */
header {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
  font-weight: 800;
}

nav ul {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #f9faf8;
}

nav a:hover {
  color: #757575;
}

nav li {
  padding: 0 10px;
}

/* HERO */
.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

.hero .container {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero .text-wrapper {
  padding-right: 8rem;
}

.hero .btn {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 8px 30px;
  text-align: center;
  border-radius: 8px;
  font-weight: bolder;
  margin-top: 1rem;
}
